<h1 class="about-header">About Me</h1>
<div class="about-content">
    <img src="/images/headshot.jpg" alt="Photo of Me" class="about-image">
    <p>Hello, I am Asad Naqvi, and this is my portfolio. Below is a short introductory video.</p>
    <video controls poster="/images/Forest.png" class="about-video">
        <source src="/videos/video.mp4" type="video/mp4">    
    </video>
</div>
