<h1>Welcome to My Portfolio</h1>
<p>This is a simple site I've made to showcase my projects and inform you a bit about me.</p>

<section class="about-me">
    <h2>About Me</h2>
    <p>Hello! My name is Asad and I am currently in my 3rd year of Technology Management at Ontario Tech University, I switched from Computer Science to Technology Management in my second year.
        I have a passion for tech-based applications and have been working on a couple projects I would like to showcase. Please feel free to contact me with any inquiries or if you'd like to chat,
        it would be my pleasure!</p>
</section>

<div class="cta">
    <a href="/projects" class="button">View My Projects</a>
</div>

<section class="featured">
    <h2>Featured Projects</h2>
    <div class="project-gallery">
        <div class="project">
            <img src="/images/ProjectManagement.jpg" alt="Project 1">
            <p>Project 1: Stakeholder Registry</p>
        </div>
        <div class="project">
            <img src="/images/CarLoanCalculator.png" alt="Project 2">
            <p>Project 2: Financial Calculator using Excel</p>
        </div>
    </div>
</section>
