<h1>My Projects</h1>
<ul>
    <h3>Project 1: Stakeholder Registry for Project Management Class</h3>
    <li>The Stakeholder Registry project serves as a comprehensive tool designed to enhance project management efficiency. This registry categorizes stakeholders based on their influence, interest, and involvement in the project, ensuring that communication and engagement strategies are tailored to each group. By maintaining detailed records of stakeholder information, the project aims to facilitate better decision-making and promote collaborative efforts throughout the project lifecycle. This tool not only improves transparency but also fosters stronger relationships between project teams and stakeholders.</li>

    <h3>Project 2: Financial Calculator for Car Payments Made in Excel</h3>
    <li>The Financial Calculator for Car Payments is an Excel-based tool that simplifies the process of calculating monthly car payments. Users can input key parameters such as loan amount, interest rate, and loan term, allowing the calculator to provide precise monthly payment figures. This project showcases proficiency in financial analysis and Excel functions, making it an invaluable resource for individuals seeking to make informed decisions about car financing. By presenting the information in an easy-to-understand format, users can quickly grasp the financial implications of their purchase, ultimately leading to better budgeting and financial planning.</li>

    <h3>Project 3: Computer Security</h3>
    <li>IIn this project, I focused on enhancing my understanding of computer security concepts. I learned how to utilize a virtual machine for secure computing environments, which allows for safe experimentation without risking my primary system. I successfully completed an image hiding lab, which involved techniques to embed information within image files, ensuring data confidentiality. Additionally, I worked on a Wireshark lab, where I analyzed network traffic to identify potential security vulnerabilities, gaining practical experience in monitoring and securing networks.</li>

    <h3>Project 4: Raspberry Pi</h3>
    <li>This project involved hands-on learning with the Raspberry Pi, a versatile and compact computing platform. I explored the fundamentals of logic gates, which are the building blocks of digital circuits. Through various experiments, I gained practical knowledge in creating basic logic functions using the Raspberry Pi. This experience enhanced my understanding of computer architecture and provided me with a foundation for further exploration in electronics and programming.</li>
</ul>
